$peach-color: #E7816B;
$black-color: #1D1C1E;
$white-color: #FFF;
$light-peach-color: #FFAD9B;
$dark-grey-color: #333136;
$light-grey-color: #DFDFDF;

$h1-fs: 4.8rem;
$h1-lh: 4.8rem;


$h2-fs: 4rem;
$h2-lh: 4.8rem;
$h3-fs: 2rem;
$h3-lh: 2.6rem;
$p-fs: 1.6rem;
$p-lh: 1.6rem;


